{% extends 'base.html' %}
{% block content %}
<!-- Breadcrumb Start -->
<section class="breadcrumb-area-2 jarallax" data-background="{{choiced['mainFoto']}}">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="breadcrumb-box" style="padding-top: 4em;">
               <h2> </h2>
               <h2> </h2>
               <h2> </h2>
               <ul>
                  <li class="home">
                     <!-- <a href="/"><span class="fas fa-home"></span></a> -->
                  </li>
                  <!-- <li>Blog Details</li> -->
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Breadcrumb End -->
<!-- Blog Page Start -->
<section class="blog-page-area">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 col-md-7">
            <div class="blog-page-left">
               <div class="blog_info">
                  <figure class="blog-img wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                     <img src="{{choiced['contentFoto']}}" alt="blog imag">
                  </figure>
                  <div class="blog-detail wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                     <div class="other_info">
                        <div class="blog-meta">
                           <figure><img src="{{choiced['author_avatar']}}" alt="bloger image"></figure>
                           <h4>{{choiced['author']}}</h4>
                        </div>
                        <label><i class="fa fa-calendar"></i>{{choiced['data']}}</label>
                        <label><i class="fa fa-comments"></i>Komentarzy <a href="#">({{choiced['len']}})</a></label>
                     </div>
                     <h3>{{choiced['title']}}</h3>
                     <p class="text-length">
                        {{choiced['introduction']}}
                     </p>
                     <blockquote>
                        <p class="blockquote_desc">
                           {{choiced['highlight']}}
                        </p>
                        <h4 class="qoute_meta"></h4>
                        <i class="fa fa-quote-left"></i>
                     </blockquote>
                     {% for point in choiced['additionalList'] %}
                        <p>{{point}}</p>
                     {% endfor %}
                     <div class="blog-cat">
                        {% for tag in choiced['tags'] %}
                           <a href="/find-by-tags?tag={{tag[1:]}}" class="mb-1">{{tag}}</a>
                        {% endfor %}
                     </div>
                  </div>
               </div>
            </div>
            <!-- /end blog item-->
            <div class="comment-list wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
               <div class="comment-group-title">
                  <h3>Autor</h3>
               </div>
               <div class="single-comment-item">
                  <div class="single-comment-box">
                     <div class="main-comment">
                        <div class="author-image">
                           <img src="{{choiced['author_avatar']}}" alt="author">
                        </div>
                        <div class="blog-cat">
                           <div class="comment-info">
                              <h4>{{choiced['author']}}</h4>
                           </div>
                           <div class="comment-text-inner">
                              <p>{{choiced['author_about']}}</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               {% if choiced['len'] > 0 %}
                  <div class="comment-group-title">
                     <h3>Komentarze ({{choiced['len']}})</h3>
                  </div>
                  <div class="single-comment-item">
                     {% for comm in choiced['comments'].values() %}
                        <div class="single-comment-box">
                           <div class="main-comment">
                              {% if comm['avatar'] %}
                                 <div class="author-image">
                                    <img src="{{comm['avatar']}}" alt="author">
                                 </div>
                              {% else %}
                                 <div class="author-image">
                                    <img src="static/img/author-noface.jpg" alt="author">
                                 </div>
                              {% endif %}
                              <div class="comment-text">
                                 <div class="comment-info">
                                    <h4>{{comm['user']}}</h4>
                                    <ul>
                                       {% for star in range(comm['user_stars']) %}
                                          <li><i class="fa fa-star"></i></li>
                                       {% endfor %}
                                    </ul>
                                    <p>{{comm['data-time']}}</p>
                                 </div>
                                 <div class="comment-text-inner">
                                    <p>{{comm['message']}}</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     {% endfor %}
                  {% endif %}
               </div>
            </div>
            <!-- /end comment list -->
            <div class="leave-comment wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
               <h3>Pozostaw komentarz</h3>
               <form>
                  <div class="row">
                     <div class="col-sm-6">
                        <div class="comment-field">
                           <label>Twoje Imię</label>
                           <input class="ns-com-name" name="name" placeholder="Imię" type="text">
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="comment-field">
                           <label>Adres E-mail</label>
                           <input class="ns-com-name" name="email" placeholder="E-mail" type="email">
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-12">
                        <div class="comment-field">
                           <label>Twój Komentarz</label>
                           <textarea class="comment" placeholder="Komentarz..." name="comment"></textarea>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-12">
                        <div class="comment-field text-center">
                           <button type="submit" class="cta-btn btn_orange">Komentuj Post</button>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
            <!-- /end comment form -->
         </div>
         <div class="col-lg-4 col-md-5">
            <aside>
               <div class="widget wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                  <div class="widget-title text-center">
                     <h4>Przeszukaj Blog</h4>
                  </div>
                  <div class="slidebar__form">
                     <form action="#">
                        <input type="text" placeholder="Szukaj w blogach...">
                        <button><i class="fa fa-search"></i></button>
                     </form>
                  </div>
               </div>
               <!-- <div class="widget wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                  <div class="widget-title text-center">
                     <h4>Instagram</h4>
                  </div>
                  <ul class="widget-insta-post">
                     <li><a href="#"><img src="static/img/insta_01.png" alt="img"></a></li>
                     <li><a href="#"><img src="static/img/insta_02.png" alt="img"></a></li>
                     <li><a href="#"><img src="static/img/insta_03.png" alt="img"></a></li>
                     <li><a href="#"><img src="static/img/insta_04.png" alt="img"></a></li>
                     <li><a href="#"><img src="static/img/insta_05.png" alt="img"></a></li>
                     <li><a href="#"><img src="static/img/insta_06.png" alt="img"></a></li>
                     <li><a href="#"><img src="static/img/insta_03.png" alt="img"></a></li>
                     <li><a href="#"><img src="static/img/insta_06.png" alt="img"></a></li>
                     <li><a href="#"><img src="static/img/insta_01.png" alt="img"></a></li>
                  </ul>
               </div> -->
               <div class="widget wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                  <div class="widget-title text-center">
                     <h4>Śledź Nas</h4>
                  </div>
                  <div class="widget-social text-center">
                     <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                     <a href="#" class="twitter"><i class="fab fa-youtube"></i></a>
                     <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                     <!-- <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                     <a href="#" class="skype"><i class="fab fa-skype"></i></a> -->
                  </div>
               </div>
               <div class="widget wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">
                  <div class="widget-title text-center">
                     <h4>Kategorie</h4>
                  </div>
                  <ul class="cat__list">
                     <li><a href="blog.html"><i class="fa fa-angle-double-right"></i> Builders <span>(05)</span></a></li>
                     <li><a href="blog.html"><i class="fa fa-angle-double-right"></i> Decorating <span>(34)</span></a></li>
                     <li><a href="blog.html"><i class="fa fa-angle-double-right"></i> Designing <span>(89)</span></a></li>
                     <li><a href="blog.html"><i class="fa fa-angle-double-right"></i> Industrial <span>(92)</span></a></li>
                     <li><a href="blog.html"><i class="fa fa-angle-double-right"></i> Preconstruction <span>(56)</span></a></li>
                     <li><a href="blog.html"><i class="fa fa-angle-double-right"></i> Renovations <span>(16)</span></a></li>
                  </ul>
               </div>
               <div class="widget wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.0s">
                  <div class="widget-title text-center">
                     <h4>Polecane</h4>
                  </div>
                  <div class="widget__post">
                     <ul>
                        <li>
                           <!-- <div class="widget__post-thumb">
                              <img src="static/img/post_01.jpg" alt="">
                           </div> -->
                           <div class="widget__post-content">
                              <h6><a href="blog-details.html">Alonso kelina falao asiano pero</a></h6>
                              <span><i class="far fa-clock"></i>1 Hours ago</span>
                           </div>
                        </li>
                        <li>
                           <!-- <div class="widget__post-thumb">
                              <img src="static/img/post_02.jpg" alt="">
                           </div> -->
                           <div class="widget__post-content">
                              <h6><a href="blog-details.html">It is a long established fact that a reader</a></h6>
                              <span><i class="far fa-clock"></i>3 Hours ago</span>
                           </div>
                        </li>
                        <li>
                           <!-- <div class="widget__post-thumb">
                              <img src="static/img/post_03.jpg" alt="">
                           </div> -->
                           <div class="widget__post-content">
                              <h6><a href="blog-details.html">Many desktop publish packages and web</a></h6>
                              <span><i class="far fa-clock"></i>5 Hours ago</span>
                           </div>
                        </li>
                        <!-- <li>
                           <div class="widget__post-thumb">
                              <img src="static/img/post_02.jpg" alt="">
                           </div>
                           <div class="widget__post-content">
                              <h6><a href="blog-details.html">Various versions have evolved over the years</a></h6>
                              <span><i class="far fa-clock"></i>6 Hours ago</span>
                           </div>
                        </li>
                        <li>
                           <div class="widget__post-thumb">
                              <img src="static/img/post_03.jpg" alt="">
                           </div>
                           <div class="widget__post-content">
                              <h6><a href="blog-details.html">Photo booth anim 8-bit PBR 3 wolf moon.</a></h6>
                              <span><i class="far fa-clock"></i>8 Hours ago</span>
                           </div>
                        </li> -->
                     </ul>
                  </div>
               </div>
               <div class="widget wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.2s">
                  <div class="widget-title text-center">
                     <h4>Tagi</h4>
                  </div>
                  <div class="widget__tag">
                     <ul>
                        <li><a href="blog.html">Travel</a></li>
                        <li><a href="blog.html">Lifestyle</a></li>
                        <li><a href="blog.html">Photo</a></li>
                        <li><a href="blog.html">Adventures</a></li>
                        <li><a href="blog.html">Musician</a></li>
                        <li><a href="blog.html">08</a></li>
                        <li><a href="blog.html">Travel</a></li>
                        <li><a href="blog.html">Lifestyle</a></li>
                        <li><a href="blog.html">Photo</a></li>
                        <li><a href="blog.html">Adventures</a></li>
                        <li><a href="blog.html">Musician</a></li>
                        <!-- <li><a href="blog.html">08</a></li> -->
                     </ul>
                  </div>
               </div>
            </aside>
         </div>
      </div>
   </div>
</section>
<!-- Blog Page End -->
{% endblock %}