{% extends 'base.html' %}
{% block content %}
<!-- Breadcrumb Start -->
<section class="breadcrumb-area jarallax" data-background="static/img/breaccrumb-blog.jpg">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="breadcrumb-box">
               <h2>BLOG</h2>
               <ul>
                  <li class="home"><a href="/"><span class="fas fa-home"></span></a></li>
                  <li>BLOG</li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Breadcrumb End -->
<!-- Blog Page Start -->
<section class="blog-page-area">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 col-md-7">
            <div class="blog-page-left">
               {% for res in posts %}
               <div class="blog-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                  <div class="blog-img">
                     <a href="/blog-one?post={{res['id']}}">
                     <img src="{{res['mainFoto']}}" alt="img" />
                     </a>
                  </div>
                  <div class="blog-text">
                     <div class="blog-meta">
                        <a href="/blog-one/blog-one?post={{res['id']}}">{{res['author']}}</a>
                        <a href="/blog-one/blog-one?post={{res['id']}}">{{res['data']}}</a>
                     </div>
                     <h5>
                        <a href="/blog-one/blog-one?post={{res['id']}}">{{res['title']}}</a>
                     </h5>
                  </div>
               </div>
               {% endfor %}
               
            </div>
            <div class="pagination-box-row text-center">
               <!-- <p>Page 1 of 6</p> -->
               {% if pagination.total_pages > 1 %}
                  <ul class="pagination">
                     {% if pagination.has_prev %}
                     <li>
                        <a href="{{ url_for(request.endpoint, page=pagination.page - 1) }}"><i class="fa fa-angle-double-left"></i></a>
                     </li>
                     {% endif %}
                     {% for page in pagination.pages %}
                        {% if page %}
                           {% if page != pagination.page %}
                              <li><a href="{{ url_for(request.endpoint, page=page) }}">{{ page }}</a></li>
                           {% else %}
                              <li class="active"><a href="#">{{ page }}</a></li>
                           {% endif %}
                        {% endif %}
                        <!-- <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li> -->
                     {% endfor %}
                     {% if pagination.has_next %}
                     <!-- <li>...</li> -->
                     <!-- <li><a href="#">6</a></li> -->
                        <li><a href="{{ url_for(request.endpoint, page=pagination.page + 1) }}"><i class="fa fa-angle-double-right"></i></a></li>
                     {% endif %}
                  </ul>
               {% endif %}
            </div>
         </div>
         <div class="col-lg-4 col-md-5">
            <aside>
               <div class="widget wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                  <div class="widget-title text-center">
                     <h4>Przeszukaj Blog</h4>
                  </div>
                  <div class="slidebar__form">
                     <form action="#">
                        <input type="text" placeholder="Szukaj w blogach...">
                        <button><i class="fa fa-search"></i></button>
                     </form>
                  </div>
               </div>
               <!-- <div class="widget wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                  <div class="widget-title text-center">
                     <h4>Instagram</h4>
                  </div>
                  <ul class="widget-insta-post">
                     <li><a href="#"><img src="static/img/insta_01.png" alt="img"></a></li>
                     <li><a href="#"><img src="static/img/insta_02.png" alt="img"></a></li>
                     <li><a href="#"><img src="static/img/insta_03.png" alt="img"></a></li>
                     <li><a href="#"><img src="static/img/insta_04.png" alt="img"></a></li>
                     <li><a href="#"><img src="static/img/insta_05.png" alt="img"></a></li>
                     <li><a href="#"><img src="static/img/insta_06.png" alt="img"></a></li>
                     <li><a href="#"><img src="static/img/insta_03.png" alt="img"></a></li>
                     <li><a href="#"><img src="static/img/insta_06.png" alt="img"></a></li>
                     <li><a href="#"><img src="static/img/insta_01.png" alt="img"></a></li>
                  </ul>
               </div> -->
               <div class="widget wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                  <div class="widget-title text-center">
                     <h4>Śledź Nas</h4>
                  </div>
                  <div class="widget-social text-center">
                     <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                     <a href="#" class="twitter"><i class="fab fa-youtube"></i></a>
                     <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                     <!-- <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                     <a href="#" class="skype"><i class="fab fa-skype"></i></a> -->
                  </div>
               </div>
               <div class="widget wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">
                  <div class="widget-title text-center">
                     <h4>Kategorie</h4>
                  </div>
                  <ul class="cat__list">
                     <li><a href="blog.html"><i class="fa fa-angle-double-right"></i> Builders <span>(05)</span></a></li>
                     <li><a href="blog.html"><i class="fa fa-angle-double-right"></i> Decorating <span>(34)</span></a></li>
                     <li><a href="blog.html"><i class="fa fa-angle-double-right"></i> Designing <span>(89)</span></a></li>
                     <li><a href="blog.html"><i class="fa fa-angle-double-right"></i> Industrial <span>(92)</span></a></li>
                     <li><a href="blog.html"><i class="fa fa-angle-double-right"></i> Preconstruction <span>(56)</span></a></li>
                     <li><a href="blog.html"><i class="fa fa-angle-double-right"></i> Renovations <span>(16)</span></a></li>
                  </ul>
               </div>
               <div class="widget wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.0s">
                  <div class="widget-title text-center">
                     <h4>Polecane</h4>
                  </div>
                  <div class="widget__post">
                     <ul>
                        <li>
                           <!-- <div class="widget__post-thumb">
                              <img src="static/img/post_01.jpg" alt="">
                           </div> -->
                           <div class="widget__post-content">
                              <h6><a href="blog-details.html">Alonso kelina falao asiano pero</a></h6>
                              <span><i class="far fa-clock"></i>1 Hours ago</span>
                           </div>
                        </li>
                        <li>
                           <!-- <div class="widget__post-thumb">
                              <img src="static/img/post_02.jpg" alt="">
                           </div> -->
                           <div class="widget__post-content">
                              <h6><a href="blog-details.html">It is a long established fact that a reader</a></h6>
                              <span><i class="far fa-clock"></i>3 Hours ago</span>
                           </div>
                        </li>
                        <li>
                           <!-- <div class="widget__post-thumb">
                              <img src="static/img/post_03.jpg" alt="">
                           </div> -->
                           <div class="widget__post-content">
                              <h6><a href="blog-details.html">Many desktop publish packages and web</a></h6>
                              <span><i class="far fa-clock"></i>5 Hours ago</span>
                           </div>
                        </li>
                        <!-- <li>
                           <div class="widget__post-thumb">
                              <img src="static/img/post_02.jpg" alt="">
                           </div>
                           <div class="widget__post-content">
                              <h6><a href="blog-details.html">Various versions have evolved over the years</a></h6>
                              <span><i class="far fa-clock"></i>6 Hours ago</span>
                           </div>
                        </li>
                        <li>
                           <div class="widget__post-thumb">
                              <img src="static/img/post_03.jpg" alt="">
                           </div>
                           <div class="widget__post-content">
                              <h6><a href="blog-details.html">Photo booth anim 8-bit PBR 3 wolf moon.</a></h6>
                              <span><i class="far fa-clock"></i>8 Hours ago</span>
                           </div>
                        </li> -->
                     </ul>
                  </div>
               </div>
               <div class="widget wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.2s">
                  <div class="widget-title text-center">
                     <h4>Tagi</h4>
                  </div>
                  <div class="widget__tag">
                     <ul>
                        <li><a href="blog.html">Travel</a></li>
                        <li><a href="blog.html">Lifestyle</a></li>
                        <li><a href="blog.html">Photo</a></li>
                        <li><a href="blog.html">Adventures</a></li>
                        <li><a href="blog.html">Musician</a></li>
                        <li><a href="blog.html">08</a></li>
                        <li><a href="blog.html">Travel</a></li>
                        <li><a href="blog.html">Lifestyle</a></li>
                        <li><a href="blog.html">Photo</a></li>
                        <li><a href="blog.html">Adventures</a></li>
                        <li><a href="blog.html">Musician</a></li>
                        <!-- <li><a href="blog.html">08</a></li> -->
                     </ul>
                  </div>
               </div>
            </aside>
         </div>
      </div>
   </div>
</section>
<!-- Blog Page End -->
{% endblock %}