{% extends 'base.html' %}
{% block content %}
<!-- Breadcrumb Start -->
<section class="breadcrumb-area jarallax" data-background="static/img/breaccrumb-onas.jpg">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="breadcrumb-box">
               <h2>Poznaj DMD</h2>
               <ul>
                  <li class="home"><a href="/"><span class="fas fa-home"></span></a></li>
                  <li>O Nas</li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Breadcrumb End -->
<!-- About Page Start -->
<section class="about-page-area section_70">
   <div class="container">
      <div class="row">
         <div class="col-lg-5 col-sm-6">
            <div class="about-page-left wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
               <img src="static/img/about-page-img.jpg" alt="about img">
               <div class="popup-video-block d-flex justify-content-center align-items-center bg-cover" data-background="static/img/about-mini.jpg">
                  <div class="video-play-btn">
                     <a href="https://www.youtube.com/watch?v=BrFETkf8wDw" class="popup-video popup-box"><i class="fas fa-play"></i></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-6 col-sm-6 ms-auto">
            <div class="about-page-right wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
               <div class="section-heading">
                  <h2 class="section-title">DMD <br>Lider w Budownictwie</h2>
               </div>
               <h3>Lider w Branży Budowlanej z Wieloma Wyspecjalizowanymi Brendami</h3>
               <p>Nasze marki oferują szeroki zakres usług budowlanych, tworząc synergię pozwalającą realizować najbardziej wymagające projekty.</p>
               <div class="about-page-right-listing">
                  <ul>
                     <li><i class="fa fa-angle-double-right"></i> DMD Budownictwo</li>
                     <li><i class="fa fa-angle-double-right"></i> DMD Instalacje</li>
                     <li><i class="fa fa-angle-double-right"></i> DMD Domy</li>
                     <li><i class="fa fa-angle-double-right"></i> DMD Inwestycje</li>
                     <li><i class="fa fa-angle-double-right"></i> DMD EliteHome</li>
                     <li><i class="fa fa-angle-double-right"></i> DMD Development</li>
                  </ul>
               </div>
               <p>
                  DMD to grupa firm, która łączy specjalizacje w budownictwie, aby sprostać wymagającym 
                  klientom. Oferujemy usługi od budownictwa po luksusowe nieruchomości, realizując złożone 
                  projekty na najwyższym poziomie. Nasze innowacyjne realizacje wspierają rozwój lokalnych 
                  społeczności. Wybierz DMD, by zyskać partnera, który z pasją przekształca marzenia w rzeczywistość.
               </p>
               <a href="https://dmdbudownictwo.pl/struktura" target="_blank" class="cta-btn btn_orange">Dowiedz się więcej o DMD</a>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- About Page End -->
<!-- Toll Area Start -->
<section class="toll-area">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="toll-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
               <h3>Najwyższej Jakości Maszyny i Usługi <span>Dla Twojego Projektu</span></h3>
               <p>
                  Nasz zespół specjalistów dba o przemyślaną logistykę, zapewniając 
                  terminowy i bezpieczny transport oraz efektywną obsługę maszyn takich jak HDS, wywrotki, 
                  dźwigi, koparki i wiele innych. Niezawodność naszych urządzeń i profesjonalizm usług sprawiają, 
                  że DMD Transport jest partnerem godnym zaufania na każdym etapie realizacji Twojego projektu.
               </p>
               <a href="/uslugi" class="cta-btn btn_orange">Nasze usługi</a>
               <a href="/oferta-sprzetu" class="cta-btn btn_orange">Nasz sprzęt</a>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Toll Area End -->

<!-- Process Start -->
<section class="process-area">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <div class="section-heading text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
               <h2 class="section-title">Jak pracujemy?</h2>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-4 col-md-4">
            <div class="proces-box text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
               <div class="process-icon">
                  <!-- <img src="static/img/process-icon-1.png" alt="icon" /> -->
                  <h1 style="color: green;">
                     <i class="fas fa-phone-alt"></i>
                  </h1>
               </div>
               <div class="process-text">
                  <h3>Zamów Sprzęt</h3>
                  <p>
                     Skontaktuj się z nami telefonicznie lub poprzez wiadomość, 
                     aby omówić swoje potrzeby i zapytać o dostępność maszyn oraz usług. 
                     Nasz zespół z chęcią doradzi Ci najlepsze rozwiązania dostosowane 
                     do specyfiki Twojego projektu.
                  </p>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-4">
            <div class="proces-box text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
               <div class="process-icon">
                  <h1 style="color: #2568dc;">
                     <i class="fas fa-file-signature"></i>
                  </h1>
               </div>
               <div class="process-text">
                  <h3>Sfinalizuj Umowę</h3>
                  <p>
                     Po ustaleniu szczegółów, szybko i sprawnie sfinalizujemy Twoje zamówienie. 
                     Przejrzyj warunki umowy, zatwierdź ofertę, a my zajmiemy się resztą, 
                     aby zapewnić terminową dostawę i najwyższą jakość usług.
                  </p>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-4">
            <div class="proces-box text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
               <div class="process-icon">
                  <h1 style="color: #dbce16;">
                     <i class="fas fa-smile-beam"></i>
                  </h1>
               </div>
               <div class="process-text">
                  <h3>Ciesz się Projektem</h3>
                  <p>
                     Zrelaksuj się i obserwuj, jak Twój projekt nabiera kształtów dzięki naszym 
                     niezawodnym maszynom i profesjonalnej obsłudze. DMD Transport dba o to, abyś 
                     mógł cieszyć się płynną i bezproblemową realizacją każdego etapu pracy.
                  </p>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-12">
            <div class="section-heading text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
               <a href="/kontakt#contact-area" class="cta-btn btn_orange">Skontaktuj się z nami ju teraz!</a>
            </div>
         </div>
      </div>
      
   </div>
</section>
<!-- Process End -->
{% endblock %}