{% extends 'base.html' %}
{% block content %}
<!-- Breadcrumb Start -->
<section class="breadcrumb-area jarallax" data-background="static/img/breaccrumb-uslugi.jpg">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="breadcrumb-box">
               <h2>Nasze usługi</h2>
               <ul>
                  <li class="home"><a href="/"><span class="fas fa-home"></span></a></li>
                  <li>Usługi</li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Breadcrumb End -->

<!-- Choose Area Start -->
<section class="choose-area">
   <img src="static/img/koppa.png" alt="img" class="choose_bg" />
   <div class="container">
      <div class="row align-items-center">
         <div class="col-lg-6 col-md-6">
            <div class="choose-left">
               <div class="row">
                  <div class="col-md-6 col-sm-6">
                     <div class="choose-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                        <!-- <img src="static/img/medal.png" alt=""> -->
                        <h3 class="card-heading">Transport i logistyka</h3>
                        <div class="body-text">
                           <p>
                              Nasza usługa transportu i logistyki zapewnia sprawne i bezproblemowe 
                              dostarczenie wynajmowanego sprzętu budowlanego bezpośrednio na Twój 
                              plac budowy. Oferujemy również odbiór sprzętu po zakończeniu prac, 
                              co oszczędza Twój czas i pozwala skupić się na realizacji projektu. 
                              Dzięki naszemu doświadczeniu i odpowiednio wyposażonej flocie transportowej, 
                              gwarantujemy terminową i bezpieczną dostawę.
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                     <div class="choose-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                        <!-- <img src="static/img/shield.png" alt=""> -->
                        <h3 class="card-heading">Obsługa operatorska</h3>
                        <div class="body-text">
                           <p>
                              Wynajmując nasz sprzęt, masz możliwość skorzystania z usług 
                              wykwalifikowanych operatorów, którzy posiadają niezbędne uprawnienia 
                              i doświadczenie w obsłudze specjalistycznych maszyn budowlanych. 
                              Dzięki temu Twoje prace zostaną wykonane z najwyższą efektywnością, 
                              a Ty unikniesz ryzyka uszkodzeń sprzętu wynikających z niewłaściwej obsługi.
                               Nasz personel zadba o to, aby każda operacja była wykonana precyzyjnie 
                               i bezpiecznie.
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                     <div class="choose-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                        <!-- <img src="static/img/thumb-up.png" alt=""> -->
                        <h3 class="card-heading">Konsultacje techniczne</h3>
                        <div class="body-text">
                           <p>
                              Oferujemy kompleksowe doradztwo techniczne, które pomoże Ci 
                              w wyborze odpowiedniego sprzętu do realizacji Twojego projektu. 
                              Nasi specjaliści dokładnie przeanalizują Twoje potrzeby i zaproponują 
                              rozwiązania, które zoptymalizują zarówno efektywność pracy, jak 
                              i koszty. Dzięki naszym konsultacjom, masz pewność, że dysponujesz 
                              sprzętem idealnie dopasowanym do specyfiki zadań budowlanych.
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                     <div class="choose-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">
                        <!-- <img src="static/img/rocket-launch.png" alt=""> -->
                        <h3 class="card-heading">Dostawa paliwa</h3>
                        <div class="body-text">
                           <p>
                              Aby zapewnić nieprzerwaną pracę na placu budowy, oferujemy usługę regularnej 
                              dostawy paliwa bezpośrednio na miejsce realizacji projektu. Nasza usługa 
                              gwarantuje, że wynajmowany sprzęt będzie zawsze gotowy do pracy, 
                              eliminując ryzyko przestojów spowodowanych brakiem paliwa. 
                              Dzięki temu zyskujesz pewność, że Twoje działania będą realizowane 
                              zgodnie z planem, bez niepotrzebnych opóźnień.
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-5 col-md-6 ms-auto">
            <div class="choose-right wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
               <div class="section-heading">
                  <h2 class="section-title">Profesjonalna obsługa i bezpieczeństwo</h2>
               </div>
               <p>
                  Korzystanie z usług transportu i logistyki przy wynajmie ciężkiego 
                  sprzętu budowlanego, takiego jak naczepy, platformy, dźwigi czy ładowarki, 
                  to gwarancja profesjonalizmu i bezpieczeństwa.
               </p>
               
               <!-- <a href="/o-nas" class="cta-btn btn_orange">Sprawdź</a> -->
            </div>
            <div class="choose-right wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
               <div class="section-heading">
                  <h2 class="section-title">Efektywność pracy i optymalizacja kosztów</h2>
               </div>
               <p>
                  Wynajem ciężkiego sprzętu budowlanego wymaga nie tylko odpowiedniej 
                  logistyki, ale także dobrze przemyślanego planowania operacyjnego. 
               </p>
               
               <!-- <a href="/o-nas" class="cta-btn btn_orange">Sprawdź</a> -->
            </div>
            <div class="choose-right wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
               <div class="section-heading">
                  <h2 class="section-title">Elastyczność i dostosowanie do potrzeb klienta</h2>
               </div>
               <p>
                  Każdy projekt budowlany jest inny, dlatego oferujemy
                   elastyczne podejście do wynajmu sprzętu i usług.  
               </p>
               
               <!-- <a href="/o-nas" class="cta-btn btn_orange">Sprawdź</a> -->
            </div>
            <div class="choose-right wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
               <div class="section-heading">
                  <h2 class="section-title">Kompleksowe wsparcie na każdym etapie projektu</h2>
               </div>
               <p>
                  Wynajmując ciężki sprzęt budowlany, zyskujesz nie tylko maszyny, 
                  ale także pełne wsparcie naszego doświadczonego zespołu. Od momentu 
                  zamówienia, przez transport i logistykę, aż po obsługę 
                  operatorską – zapewniamy kompleksową opiekę nad Twoim projektem.  
               </p>
               
               <!-- <a href="/o-nas" class="cta-btn btn_orange">Sprawdź</a> -->
            </div>
            <div class="choose-right wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
               <div class="section-heading">
                  <h3 class="section-title">Niezawodność i ciągłość prac</h3>
               </div>
               <p>
                  Jednym z największych wyzwań na placu budowy jest utrzymanie 
                  ciągłości prac, zwłaszcza przy wykorzystaniu ciężkiego sprzętu.  
               </p>
               
               <a href="/o-nas" class="cta-btn btn_orange">Sprawdź</a>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Choose Area End -->

<!-- Process Start -->
<section class="process-area">
    <div class="container">
       <div class="row">
          <div class="col-lg-12">
             <div class="section-heading text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                <h2 class="section-title">Jak pracujemy?</h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-lg-4 col-md-4">
             <div class="proces-box text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                <div class="process-icon">
                   <!-- <img src="static/img/process-icon-1.png" alt="icon" /> -->
                   <h1 style="color: green;">
                      <i class="fas fa-phone-alt"></i>
                   </h1>
                </div>
                <div class="process-text">
                   <h3>Zamów Usługę</h3>
                   <p>
                      Skontaktuj się z nami telefonicznie lub poprzez wiadomość, 
                      aby omówić swoje potrzeby i zapytać o dostępność maszyn lub usług. 
                      Nasz zespół z chęcią doradzi Ci najlepsze rozwiązania dostosowane 
                      do specyfiki Twojego projektu.
                   </p>
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-4">
             <div class="proces-box text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                <div class="process-icon">
                   <h1 style="color: #2568dc;">
                      <i class="fas fa-file-signature"></i>
                   </h1>
                </div>
                <div class="process-text">
                   <h3>Sfinalizuj Umowę</h3>
                   <p>
                      Po ustaleniu szczegółów, szybko i sprawnie sfinalizujemy Twoje zamówienie. 
                      Przejrzyj warunki umowy, zatwierdź ofertę, a my zajmiemy się resztą, 
                      aby zapewnić terminową dostawę i najwyższą jakość usług.
                   </p>
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-4">
             <div class="proces-box text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                <div class="process-icon">
                   <h1 style="color: #dbce16;">
                      <i class="fas fa-smile-beam"></i>
                   </h1>
                </div>
                <div class="process-text">
                   <h3>Ciesz się Projektem</h3>
                   <p>
                      Zrelaksuj się i obserwuj, jak Twój projekt nabiera kształtów dzięki naszej 
                      profesjonalnej obsłudze. DMD Transport dba o to, abyś mógł cieszyć się płynną 
                      i bezproblemową realizacją każdego etapu pracy.
                   </p>
                </div>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-lg-12">
             <div class="section-heading text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                <a href="/kontakt#contact-area" class="cta-btn btn_orange">Skontaktuj się z nami już teraz!</a>
             </div>
          </div>
       </div>
       
    </div>
 </section>
 <!-- Process End -->
{% endblock %}