{% extends 'base.html' %}
{% block content %}

<!-- Faq Start -->
<section class="faq-search-area">
   <div class="container">
      <div class="row" style="margin-top: 5em;">
         <div class="col-lg-12">
            <div class="faq-search wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
               <div class="section-heading text-center">
                  <h2 class="section-title">Witaj w Dziale Pomocy!</h2>
                  <p>
                     Nasz zespół jest tutaj, aby uprościć Twoje doświadczenie na naszej platformie. <br />
                     Poniżej znajdziesz kilka sekcji, które mogą Ci pomóc z zapytaniami, informacjami o polityce prywatności, <br />
                     zasadami korzystania oraz innymi kwestiami. Jeśli nadal potrzebujesz pomocy, skorzystaj z formularza kontaktowego <br />
                     lub skontaktuj się bezpośrednio z naszym zespołem. Jesteśmy gotowi, aby Ci pomóc! 
                  </p>
               </div>
            </div>
         </div>
      </div>
      <div class="faq-content">
         <div class="row">
            <div class="col-lg-7 col-sm-7">
               <div class="faq-accordion">
                  <div class="accordion no-border me-lg-5" id="accordion">
                     <div class="accordion-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                        <h4 class="accordion-header">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq1" aria-expanded="false" aria-controls="faq1">
                              Polityka Prywatności
                           </button>
                        </h4>
                        <div id="faq1" class="accordion-collapse collapse show" data-bs-parent="#accordion">
                           <div class="accordion-body">
                              Zapoznaj się z naszą <a href="/subpage?target=polityka">polityką prywatności</a>, aby dowiedzieć się, jak dbamy o bezpieczeństwo Twoich danych osobowych. Twoja prywatność jest dla nas priorytetem. 
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                        <h4 class="accordion-header">
                           <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faq2" aria-expanded="true" aria-controls="faq2">
                              Zasady Korzystania z Witryny
                           </button>
                        </h4>
                        <div id="faq2" class="accordion-collapse collapse" data-bs-parent="#accordion">
                           <div class="accordion-body">
                              Przeczytaj nasze <a href="/subpage?target=zasady">zasady korzystania z witryny</a>, aby zrozumieć reguły i warunki korzystania z naszych usług. Zalecamy przestrzeganie tych zasad dla zwiększenia wydajności i bezpieczeństwa korzystania z platformy. 
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                        <h4 class="accordion-header">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq3" aria-expanded="false" aria-controls="faq3">
                              Kontakt
                           </button>
                        </h4>
                        <div id="faq3" class="accordion-collapse collapse" data-bs-parent="#accordion">
                           <div class="accordion-body">
                              Potrzebujesz dodatkowej pomocy? Skorzystaj z <a href="/kontakt#contact-area">formularza kontaktowego</a> lub napisz bezpośrednio na adres e-mail naszego działu wsparcia: <a href="mailto:biuro@dmdbudownictwo.pl">biuro@dmdbudownictwo.pl</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-sm-5 ms-auto">
               <div class="faqs-page-right">
                  <div class="single-career-sidebar">
                     <div class="quick-contact wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                        <h3>Szybki Kontakt</h3>
                        <form id="ajax-contact" method="post">
                           <p>
                              <input type="text" id="name" name="name" placeholder="Twoje Imię">
                           </p>
                           <p>
                              <input type="email" id="eml" name="email" placeholder="Adres E-mail">
                           </p>
                           <p>
                              <input type="text" id="sub" name="subject" placeholder="Temat">
                           </p>
                           <p>
                              <textarea id="msg" name="message" placeholder="Napisz swoją wiadomość tutaj..."></textarea>
                           </p>
                           <div class="row">
                              <div class="col-lg-2">
                                  <input class="polityka-switch" type="checkbox" id="polityka_przywatnosci" name="condition">
                                  <label class="polityka-switch-label" for="polityka_przywatnosci"></label>
                              </div>
                              <div class="col-lg-9">
                                  <label for="polityka_przywatnosci" style="font-size: 10px;">
                                      Akceptuję politykę prywatności DMD TRANSPORT, niniejszym wyrażam zgodę na 
                                      przetwarzanie moich danych osobowych zawartych w niniejszym formularzu w celach 
                                      kontaktowych, zgodnie z obowiązującą polityką prywatności.
                                  </label>
                              </div>
                          </div>
                           <p>
                              <button class="cta-btn btn_orange" type="submit">Wyślij Wiadomość</button>
                           </p>
                           <div class="form-message" id="komunikat_z_serwera"></div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Faq End -->
{% endblock %}
{% block bottom_scripts %}
<script>
   document.querySelector('.polityka-switch-label').addEventListener('click', function() {
      const input = document.getElementById('polityka_przywatnosci');
      input.checked = !input.checked;
      input.value = input.checked ? 1 : 0; // Aktualizacja value checkboxa
   });

   

   document.addEventListener("DOMContentLoaded", function() {
      document.getElementById('ajax-contact').addEventListener('submit', function(e) {
            e.preventDefault(); // Zapobiegaj domyślnej akcji formularza
            const formData = new FormData(this); // Użyj 'this', aby odnieść się do formularza
            const jsonFormData = Object.fromEntries(formData.entries());

            fetch('/send-mess-pl', {
               method: 'POST',
               headers: {
                  'Content-Type': 'application/json',
               },
               body: JSON.stringify(jsonFormData) // Przekazuj dane z formularza
            })
            .then(response => response.json())
            .then(data => {
               // console.log(data);

               const komunikatDiv = document.getElementById("komunikat_z_serwera");
               if (komunikatDiv) {
                  komunikatDiv.innerHTML = data.message;
                  // Ustawienie koloru komunikatu na podstawie wartości 'success'
                  if(data.success) {
                        komunikatDiv.style.color = "#063e90"; // Sukces - Niebieski
                        document.getElementById('ajax-contact').reset();
                  } else {
                        komunikatDiv.style.color = "#ff3535"; // Niepowodzenie - czerwony
                  }
                  setTimeout(function() {
                        komunikatDiv.innerHTML = '';
                  }, 5000);
               }
            })
            .catch((error) => {
               console.error('Error:', error);
            });
      });
   });

   
</script>
{% endblock %}