{% extends 'base.html' %}
{% block content %}

<!-- Faq Start -->
<section class="faq-search-area">
   <div class="container">
      <div class="row" style="margin-top: 5em;">
         <div class="col-lg-12">
            <div class="faq-search wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
               <div class="section-heading text-center">
                  <h2 class="section-title">Zasady Korzystania z Naszej Strony Internetowej!</h2>
                  <p>
                     Aby zapewnić każdemu użytkownikowi satysfakcjonujące doświadczenie oraz utrzymać bezpieczeństwo i zgodność z naszymi standardami,<br /> 
                     opracowaliśmy poniższe zasady korzystania z naszej strony internetowej. <br /> 
                     Prosimy o dokładne zapoznanie się z nimi przed rozpoczęciem przeglądania czy korzystania z naszych usług. 
                  </p>
               </div>
            </div>
         </div>
      </div>
      <div class="faq-content">
         <div class="row">
            <div class="col-lg-11 col-sm-11">
               <div class="faq-accordion">
                  <div class="accordion no-border me-lg-5" id="accordion">
                     <div class="accordion-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                        <h4 class="accordion-header">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq1" aria-expanded="false" aria-controls="faq1">
                              Rejestracja i Konto Użytkownika
                           </button>
                        </h4>
                        <div id="faq1" class="accordion-collapse collapse show" data-bs-parent="#accordion">
                           <div class="accordion-body">
                              Prosimy o uczciwe i dokładne podawanie informacji podczas procesu rejestracji. Każdy użytkownik jest odpowiedzialny za utrzymanie bezpieczeństwa swojego konta. 
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                        <h4 class="accordion-header">
                           <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faq2" aria-expanded="true" aria-controls="faq2">
                              Prawa Autorskie i Własność Intelektualna
                           </button>
                        </h4>
                        <div id="faq2" class="accordion-collapse collapse" data-bs-parent="#accordion">
                           <div class="accordion-body">
                              Szanujmy prawa autorskie oraz prawa własności intelektualnej. Zakazane jest kopiowanie, rozpowszechnianie lub modyfikowanie zawartości strony bez naszej zgody.
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                        <h4 class="accordion-header">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq3" aria-expanded="false" aria-controls="faq3">
                              Zasady Prywatności
                           </button>
                        </h4>
                        <div id="faq3" class="accordion-collapse collapse" data-bs-parent="#accordion">
                           <div class="accordion-body">
                              Dbamy o prywatność naszych użytkowników. Prosimy o zapoznanie się z naszą polityką prywatności, aby zrozumieć, jak gromadzimy, używamy i chronimy dane osobowe.
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">
                        <h4 class="accordion-header">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq4" aria-expanded="false" aria-controls="faq4">
                              Zachowanie na Stronie
                           </button>
                        </h4>
                        <div id="faq4" class="accordion-collapse collapse" data-bs-parent="#accordion">
                           <div class="accordion-body">
                              Wszyscy użytkownicy zobowiązani są do szanowania innych. Nie tolerujemy treści obraźliwych, dyskryminacyjnych czy nielegalnych. Zastrzegamy sobie prawo do usuwania takich treści. 
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                        <h4 class="accordion-header">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq5" aria-expanded="false">
                              Bezpieczeństwo Konta
                           </button>
                        </h4>
                        <div id="faq5" class="accordion-collapse collapse" aria-labelledby="faq5" data-bs-parent="#accordion">
                           <div class="accordion-body">
                              Zachęcamy do stosowania silnych haseł i regularnej zmiany hasła. Ochrona konta przed nieautoryzowanym dostępem jest kluczowa. 
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.2s">
                        <h4 class="accordion-header">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq6" aria-expanded="false">
                              Linki Zewnętrzne
                           </button>
                        </h4>
                        <div id="faq6" class="accordion-collapse collapse" aria-labelledby="faq6" data-bs-parent="#accordion">
                           <div class="accordion-body">
                              Nie ponosimy odpowiedzialności za treści na stronach zewnętrznych, do których prowadzą linki na naszej stronie. Klikając na link, użytkownik akceptuje warunki korzystania z danej strony. 
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.2s">
                        <h4 class="accordion-header">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq7a" aria-expanded="false">
                              Aktualizacje i Modyfikacje
                           </button>
                        </h4>
                        <div id="faq7a" class="accordion-collapse collapse" aria-labelledby="faq7a" data-bs-parent="#accordion">
                           <div class="accordion-body">
                              Zastrzegamy sobie prawo do wprowadzania zmian w treści strony oraz zasad korzystania. Użytkownicy zostaną poinformowani o istotnych aktualizacjach.
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.2s">
                        <h4 class="accordion-header">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq7" aria-expanded="false">
                              Komunikacja z Użytkownikami
                           </button>
                        </h4>
                        <div id="faq7" class="accordion-collapse collapse" aria-labelledby="faq7" data-bs-parent="#accordion">
                           <div class="accordion-body">
                              Regularnie będziemy informować użytkowników o istotnych sprawach za pośrednictwem wiadomości e-mail lub ogłoszeń na stronie. 
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.2s">
                        <h4 class="accordion-header">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq8" aria-expanded="false">
                              Odpowiedzialność Prawna
                           </button>
                        </h4>
                        <div id="faq8" class="accordion-collapse collapse" aria-labelledby="faq8" data-bs-parent="#accordion">
                           <div class="accordion-body">
                              Użytkownicy są zobowiązani do przestrzegania lokalnych i międzynarodowych przepisów prawnych podczas korzystania z naszej strony. 
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.2s">
                        <h4 class="accordion-header">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq9" aria-expanded="false">
                              Wsparcie Techniczne
                           </button>
                        </h4>
                        <div id="faq9" class="accordion-collapse collapse" aria-labelledby="faq9" data-bs-parent="#accordion">
                           <div class="accordion-body">
                              Nasz zespół wsparcia technicznego jest gotów pomóc w rozwiązaniu problemów i udzielić odpowiedzi na pytania. Prosimy o kontakt, jeśli masz jakiekolwiek wątpliwości.
                           </div>
                        </div>
                     </div>
                     
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Faq End -->
{% endblock %}